/* MAIN ELEMENTS */
body {
    background: #fff;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}

body a {
    cursor: pointer;
    text-decoration: none;
}

p {
    font-family: 'Dosis', sans-serif;
}

ul {
    list-style-type: none;
}

.full-width {
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
}

/* //MAIN ELEMENTS */

/* NAVIGATION */
.nav-custom {
    padding-top: 2em;
    border: none;
    height: 80px;
    background: none
}

.navbar-header {
    padding-top: 15px;
}

.navbar-header img {
    width: 11em;
    height: auto;
}

.navbar-default .navbar-nav li a {
    color: #fff;
    font-size: 1.1em;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.navbar-default .navbar-nav .active a, .navbar-default .navbar-nav .active a:hover {
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
}

.navbar-fixed-top > .container > .fixed-top-collapse {
    padding-left: 15px;
    padding-right: 15px;
}
/* //NAVIGATION */

/* BANNER */
.banner {
    background: url('../images/h4.jpg');
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 800px;
    position: relative;
}

.banner:before, .banner:after {
    position: absolute;
    content: "";
    bottom: 45px;
    left: 0;
    right: auto;
    top: 80%;
    width: 100%;
    background: #000;
    z-index: -1;
    -webkit-box-shadow: 0 40px 50px #000;
    -moz-box-shadow: 0 40px 50px #000;
    box-shadow: 0 40px 50px #000;
}

.banner-content {
    position: absolute;
    bottom: 15em;
    text-align: left;
}

.banner-content h2 {
    color: #fff;
    font-size: 4em;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

.banner-content p {
    font-size: 1.5em;
    font-weight: 500;
    color: #fff;
    font-family: 'Montserrat Alternates', sans-serif;
}

.stamp {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: 0;
    margin-right: 0;
}
/* //BANNER */

/* ABOUT */
.about {
    text-align: center;
}  
/* //ABOUT */

/* MEDIA QUERIES */
@media (max-width: 1200px) {
}

@media (max-width: 1079px) {

    .banner {
        min-height: 650px;
    }

    .banner-content {
        padding: 10em 0 0;
    }
}

@media (max-width: 991px) {

    .navbar-header {
        padding-top: 22px;
    }

    .navbar-header img {
            width: 8em;
    }

    .navbar-default .navbar-nav li a {
        color: #fff;
        font-size: 15px;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .banner {
        min-height: 500px;
    }

    .banner-content {
        padding: 6.5em 0 0;
    }

    .banner-content h2 {
        font-size: 3em;
    }

    .banner-content p {
        font-size: 20px;
    }

    .stamp {
        bottom: -2.2em;
    }

    .stamp img {
        width: 4.4em;
        height: 4.4em;
    }
}
